
@import url(http://fonts.googleapis.com/css?family=Raleway);
@font-face {
    font-family: 'BLOKKRegular';
    src: url('BLOKKRegular/webfonts/BLOKKRegular.eot');
}

@font-face {
    font-family: 'BLOKKRegular';
    src: url('BLOKKRegular/webfonts/BLOKKRegular.woff') format('woff'),
    url('BLOKKRegular/webfonts/BLOKKRegular.svg#BLOKKRegular') format('svg');
}
body{
	padding-top: 140px;
	background: url(http://subtlepatterns.com/patterns/crossword.png);
}
.nopadding{padding: 0;}

header {
	  width: 100%;
	  height: 600px;
	  position: relative;
}

header:after {
	background:  url(http://lorempixel.com/output/nature-q-c-1920-1250-5.jpg); /*url(http://lorempixel.com/output/business-q-c-1920-1250-6.jpg); url('http://placehold.it/2000x1300')  url(http://lorempixel.com/output/business-q-c-1920-1250-6.jpg)*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
	width: 100%;
	height: 620px;
	position: absolute;
	z-index: -2;
	content: "";
	top: 0;
	left: 0;
}
.navbar{
	background-color: #fff;
	border: none;
	padding: 45px 0;
	transition:padding 0.3s;
}
.menustyle{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
#mynav ul li a{
	color: #E74C3C;
}
section{
	margin: 70px 0 0 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
section p{
	color: #989999;
	/*font-size: 18px;*/
	font-size: 12px;
	line-height: 1.5;
	text-align: justify;
	font-family: 'BLOKKRegular';
}
footer{
	background-color: #2C3E50;
	padding: 13px 0px 0px 0px;
	margin: 70px 0 0 0;
}
footer p{
	color: #ECEDE9;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	transition: opacity 0.5s;
}
.parent:hover > div > p{
	opacity: 0.5;
}
.parent:hover > div > p:hover{
	opacity: 1;
}

/****************************************/
.image-effect-border {
width: 500px;
height: 300px;
overflow: hidden;
position: relative;
border: 5px solid #DDD;
margin: 0 auto;
background-color: rgba(0,0,0,0.1);
-webkit-transition: 1s;
transition: 1s;
}

.image-effect-border:hover{
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
	border: 5px solid #444;
}


.image-effect-border .image-layer{
	position: absolute;
	top:0;
	left:0;
	height: 300px;
	overflow: hidden;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	z-index: 5;
}

.image-effect-border:hover .image-layer{
	-webkit-transform: scale(1);
	transform: scale(1);
}


.share-layer{
	position: absolute;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	z-index: 10;
}

.image-effect-border:hover .share-layer{
	opacity: 1;
}


.share-button{
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
	padding: 12px;
	width: 80px;
	border-radius: 2px;
	margin:	125px 10px;
}

.share-via-facebook{
	background-color:#3b5998;
}

.share-via-twitter{
	background-color:#00aced;
}

.share-via-google{
	background-color:#d34836;
}
.myactive{
	border-bottom: 2px solid #E74C3C;
}
.scrolled{
	padding-top: 0px;
	padding-bottom: 0px;
	
	box-shadow: 0px 2.5px 2.5px 0px #e0e0e0;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
	opacity : 0.96;
}
#mytext{
	/*font-family : Raleway;*/
	text-transform: uppercase;
	height: 600px;
	position: relative;
	padding: 10px;
	margin-top: 20px;
}
#mytext:after{
	position: absolute;
	background-color: rgba(240,240,240,0.2);
	z-index: -1;
	content: "";
	top:0;
	left: 0;
	width: 100%;
	height: 320px;
}
#mytext p{
	/*font-size : 24px;*/
	font-size: 12px;
	color: #cecece;
	font-family: 'BLOKKRegular';
}
#mytext h1{
	color: #E74C3C;
}

